@font-face {
	font-family: 'GoogleSans-Regular';
	$GoogleSans-Regular: 'GoogleSans-Regular' !global;
	src: url(../fonts/GoogleSans/GoogleSans-Regular.ttf);
}

@font-face {
	font-family: 'GoogleSans-Bold';
	$GoogleSans-Bold: 'GoogleSans-Bold' !global;
	src: url(../fonts/GoogleSans/GoogleSans-Bold.ttf);
}

@font-face {
	font-family: 'GoogleSans-Bold-Italic';
	$GoogleSans-Bold-Italic: 'GoogleSans-Bold-Italic' !global;
	src: url(../fonts/GoogleSans/GoogleSans-BoldItalic.ttf);
}

@font-face {
	font-family: 'GoogleSans-Italic';
	$GoogleSans-Italic: 'GoogleSans-Italic' !global;
	src: url(../fonts/GoogleSans/GoogleSans-Italic.ttf);
}

@font-face {
	font-family: 'Waffle-Soft';
	$Waffle-Bold: 'Waffle-Soft' !global;
	src: url(../fonts/Waffle/MADEWaffleSoft.ttf);
}
